
<br />

	<table style="float:center" width="100%">
		<tr>
			<td width="100" class="s-head">No</td>
			<td width="350" class="s-head">設定対象</td>
			<td width="100" class="s-head">詳細</td>
		</tr>
		<tr>
			<td  class="data">１</td>
			<td  class="data">商品</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtSCds/index/');?>';">詳細</button></td>
		</tr>
		<tr>
			<td  class="data">２</td>
			<td  class="data">産地</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtAreas/index/');?>';">詳細</button></td>
		</tr>
		<tr>
			<td  class="data">３</td>
			<td  class="data">規格</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtSizes/index/');?>';">詳細</button></td>
		</tr>
		<tr>
			<td  class="data">４</td>
			<td  class="data">単位</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtUnits/index/');?>';">詳細</button></td>
		</tr>
		<tr>
			<td  class="data">５</td>
			<td  class="data">荷送人</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtShippers/index/');?>';">詳細</button></td>
		</tr>
		<tr>
			<td  class="data">６</td>
			<td  class="data">運送会社</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtCarriers/index/');?>';">詳細</button></td>
		</tr>
		<tr>
			<td  class="data">７</td>
			<td  class="data">金秀店舗一覧</td>
			<td  class="data_center"><button style="cursor:pointer;" onclick="location.href='<?php echo $this->html->url('/MtShops/index/');?>';">詳細</button></td>
		</tr>
	</table>


<br />
<br />
</div>