<script>
$(function() {
$( ".datepicker" ).datepicker();
});

function submitStop(e){
	if (!e) var e = window.event;

		if(e.keyCode == 13)
			return false;
		}

</script>

<br />
<?php echo $this->Form->create('Packing'); ?>
	<table style="float:center" width="100%">
<br>
		<tr>
			<td colspan="4" class="t-head">加工新規登録</td>
		</tr>
		<tr>
			<td width="140" class="s-head">加工日</td>
			<td width="340"  class="data"><?php echo $this->Form->input('packing_date', array('label'=>false, 'div'=>false, 'type' => 'text', 'class'=>'datepicker')); ?></td>
			<td width="140" class="s-head">人数</td>
			<td width="340"  class="data"><?php echo $this->Form->input('member', array('label'=>false, 'div'=>false, 'type' => 'text', 'class'=>'if')); ?></td>
		</tr>
	</table>
	<br />
	<div style="width:100%;" align="center">
		<button type="button" onclick="location.href='<?php echo $this->html->url('/packings/index');?>';" style="width:150px;height:30px;cursor:pointer">戻　る</button>
		<?php echo $this->Form->submit('登　録', array('div'=>false, 'name' => 'add', 'type'=>'submit', 'style'=>'width:150px;height:30px;cursor:pointer')); ?>
	</div>
<?php echo $this->Form->end(); ?>

<br />
<br />
<br />


<!--
	<fieldset>
		<legend><?php echo __('Add Packing'); ?></legend>
	<?php
		echo $this->Form->input('incharge');
		echo $this->Form->input('packing_date');
		echo $this->Form->input('member');
		echo $this->Form->input('created_user_id');
		echo $this->Form->input('updated_user_id');
		echo $this->Form->input('deleted');
		echo $this->Form->input('deleted_user_id');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Packings'), array('action' => 'index')); ?></li>
	</ul>
</div>

	<br />

	<table style="float:center" width="100%">

		<br />
		<tr>
			<td colspan="2" class="t-head">加工新規登録</td>
		</tr>
		<tr>
			<td width="100" class="s-head">加工日</td>
			<td width="340" class="data"></td>
		</tr>
		<tr>
			<td class="s-head">人数</td>
			<td class="data"></td>
		</tr>
		<tr>
		</table>


<br>



	<div style="width:100%;" align="center">
		<a href="process.html">
			<button type="submit" style="width:150px;height:30px;cursor:pointer" onclick="">戻る</button>
		</a>
		<a href="process.html">
			<button type="submit" style="width:150px;height:30px;cursor:pointer" onclick="">登録</button>
		</a>
	</div>

<br />
<br />
<br />
<div class="packings form">
<?php echo $this->Form->create('Packing'); ?>
	<fieldset>
		<legend><?php echo __('Add Packing'); ?></legend>
	<?php
		echo $this->Form->input('incharge');
		echo $this->Form->input('packing_date');
		echo $this->Form->input('member');
		echo $this->Form->input('created_user_id');
		echo $this->Form->input('updated_user_id');
		echo $this->Form->input('deleted');
		echo $this->Form->input('deleted_user_id');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List Packings'), array('action' => 'index')); ?></li>
	</ul>
</div>
-->