<?php //var_dump($orders); ?>

<?php 
	$total_amount= 0;
?>

<table style="float:center" width="100%">
	<tr>
		<td width="200" class="s-head">出庫日</td>
		<td width="100" class="s-head">商品名</td>
		<td width="200" class="s-head">合計数量</td>
	</tr>
	<?php foreach ($orders as $order): ?>
	<tr>
		<td class="data"><?php echo h($order['Order']['out_date']); ?>&nbsp;</td>
		<td class="data"><?php echo h($sCdOpt[$order['Order']['s_cd']]); ?>&nbsp;</td>
		<td class="data"><?php echo h($order[0]['cnt_amount']); ?>&nbsp;</td>
	</tr>
	<?php $total_amount += $order[0]['cnt_amount'] ?>
	<?php endforeach; ?>

	<tr>
		<td class="s-head" colspan="2">発注データ総数</td>
		<td class="data"><?php echo $total_amount; ?></td>
	</tr>

</table>

<br />
<br />
<br />



<!--
<div class="orders index">
	<h2><?php echo __('Orders'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('out_date'); ?></th>
			<th><?php echo $this->Paginator->sort('s_cd'); ?></th>
			<th><?php echo $this->Paginator->sort('shop_cd'); ?></th>
			<th><?php echo $this->Paginator->sort('amount'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('created_user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('updated'); ?></th>
			<th><?php echo $this->Paginator->sort('updated_user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('deleted'); ?></th>
			<th><?php echo $this->Paginator->sort('deleted_user_id'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($orders as $order): ?>
	<tr>
		<td><?php echo h($order['Order']['id']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['out_date']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['s_cd']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['shop_cd']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['amount']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['created']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['created_user_id']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['updated']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['updated_user_id']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['deleted']); ?>&nbsp;</td>
		<td><?php echo h($order['Order']['deleted_user_id']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $order['Order']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $order['Order']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $order['Order']['id']), null, __('Are you sure you want to delete # %s?', $order['Order']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Order'), array('action' => 'add')); ?></li>
	</ul>
</div>
-->