@charset "utf-8";
/* ===================================================================
CSS information

 file name  :style.css
 style info :コンテンツエリア関係 他
 
このスタイルシートの構成
 基本設定、レイアウト、横幅設定など
 汎用class
 #header
 #navi
  #gNav
 #footer
  #footerContents
 #page
 #mainImg
  #imgArea
  #contents
   #main
   #sub
=================================================================== */

/*----------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------*/
body {
	height: 100%;
	
}

a:link {
	color:#2586ca;
	text-decoration: none;
}
a:visited {
	color:#2586ca;
	text-decoration: none;
}
a:hover {
	color:#42a0e2;
	text-decoration: underline;
}
a:active {
	color:#42a0e2;
	text-decoration: none;
}


/*----------------------------------------------------
	汎用class
----------------------------------------------------*/
.imgR {
	float: right;
	margin: 0 0 0 10px;
}

.imgL {
	float: left;
	margin: 0 10px 0 0;
}

.btn {
	text-align: center;
	width: 120px;
	height: 30px;
	cursor: pointer;
}
.btn_detail {
	text-align: center;
	width: 80px;
	height: 25px;
	cursor: pointer;
}

.if {
	width: 100%;
}



/* clearfix */
.clearfix:after {
	content: "."; display: block; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; clear: both;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */


/* margin
----------------------------------------------------------*/
/* Top */
.MG-T0 { margin-top: 0 !important; }
.MG-T5 { margin-top: 5px !important; }
.MG-T10 { margin-top: 10px !important; }
.MG-T15 { margin-top: 15px !important; }
.MG-T20 { margin-top: 20px !important; }
.MG-T25 { margin-top: 25px !important; }
.MG-T30 { margin-top: 30px !important; }
/* Bottom */
.MG-B0 { margin-bottom: 0 !important; }
.MG-B5 { margin-bottom: 5px !important; }
.MG-B10 { margin-bottom: 15px !important; }
.MG-B15 { margin-bottom: 15px !important; }
.MG-B20 { margin-bottom: 20px !important; }
.MG-B25 { margin-bottom: 25px !important; }
.MG-B30 { margin-bottom: 30px !important; }

/* padding
----------------------------------------------------------*/
/* Left */
.PD-L5 { padding-left: 5px !important; }
.PD-L10 { padding-left: 10px !important; }
.PD-L15 { padding-left: 15px !important; }
.PD-L20 { padding-left: 20px !important; }
.PD-L25 { padding-left: 25px !important; }
.PD-L30 { padding-left: 30px !important; }
/* Right */
.PD-R5 { padding-right: 5px !important; }
.PD-R10 { padding-right: 10px !important; }
.PD-R15 { padding-right: 15px !important; }
.PD-R20 { padding-right: 20px !important; }
.PD-R25 { padding-right: 25px !important; }
.PD-R30 { padding-right: 30px !important; }

/* フォントサイズ・カラー
----------------------------------------------------------*/
.TXT-S { font-size:12px;}
.TXT-M { font-size:14px;}
.TXT-L { font-size:16px;}

.TXT-RED { color:#FF3333;}
.TXT-ORG { color:#f7931e;}




/* -----------------------------------------------------------
	#header
		ヘッダー
----------------------------------------------------------- */
div#login{
    overflow:auto;
    height:400px;
    width:600px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left:-300px;
}

/* -----------------------------------------------------------
	#header
		ヘッダー
----------------------------------------------------------- */
#header {
	width: 1280px;
	margin: 0 auto;
}

#logo {
	clear: both;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 80px;
	width: 280px;
	background: #fff;
	margin: 10px 0;
}
#headerDesc {
	background: #ededed;
	height: 0px;
}
#headerDescArea {
	width: 960px;
	margin: 0 auto;
}

#headerDescArea h1 {
	font-size: 10px;
	font-weight: normal;
	float: left;
	margin: 2px 0 0 10px;
	height: 20px;
}
#headerDescArea h2 {
	font-size: 10px;
	font-weight: normal;
	float: right;
	margin: 2px 10px 0 0;
	height: 20px;
}


/* -----------------------------------------------------------
	#navi
		ナビ
----------------------------------------------------------- */
#navi {
	clear: both;
	background: #fff url(../img/navi_bg.png);
	height: 60px;
}

/* #gNav
----------------------------------------------------------- */
#navi #gNav {
	clear: both;
	overflow: hidden;
}

* html #navi #gNav {
	height: 1%;
}

#naviArea {
	width: 1280px;
	margin: 0 auto;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #16679f;
}

#navi #gNav li {
	float: left;
	text-align: center;
	font-size: 12pt;
}

#navi #gNav li a:link,
#navi #gNav li a:visited,
#navi #gNav li a:active {
	color:#fff;
	text-decoration:none;
	display:block;
	width: 180px;
	height: 40px;
	padding-top: 20px;
	background: #fff url(../img/gNav_li_bg.png);
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #16679f;
}

#navi #gNav li a:hover{
	color:#333;
	background-position:0 -60px;
	text-decoration:none;
}

/* -----------------------------------------------------------
	#footer
		フッター
----------------------------------------------------------- */
#footer {
	clear: both;
	/*background: #ededed;*/
	/*padding: 15px 0 0 0;*/
}

#footer .copyright {
	color: #fff;
	background: #2E84E3;
	text-align: center;
	margin-top: 20px;
	padding: 15px 0 0 0;
	height: 30px;
}


#footerContents ul {
	text-align: center;
	padding: 10px 0 0 0;
}

#footerContents ul li {
	display: inline;
	border-right: solid 1px #999;
	padding: 0 10px 0 10px;
}
#footerContents ul li.end {
	display: inline;
	border: none;
	padding: 0 10px 0 10px;
}

#footerContents h3 {
	font-weight: normal;
}

/* -----------------------------------------------------------
	#footerContents
		フッターコンテンツ
----------------------------------------------------------- */
#footerContents {
	width: 1280px;
	margin: 0 auto;
}


#searchbox{
    /*position:absolute;*/
    bottom:5px;
    height:30px;
    width:100%;
}


/*----------------------------------------------------
	#page
----------------------------------------------------*/
#page {

}


/*----------------------------------------------------
	#mainImg
----------------------------------------------------*/
#mainImg {
	background: url(../img/mainImg_bg.png);
	height: 300px;
}
#imgArea {
	width: 960px;
	margin: 0 auto;
}

/*----------------------------------------------------
	#contents
----------------------------------------------------*/
#contents {
	width: 1280px;
	height: 500px;
	margin: 10px auto 0 auto;
	padding-bottom: 60px;
	text-align: left;
}

#contents .pageTop {
	clear: both;
	text-align: right;
}

/*----------------------------------------------------
	#main
		メイン
----------------------------------------------------*/
#main {
	float: right;
	width: 1280px;
}

#main h2{
	font-size: 16px;
	font-weight: normal;
	width: 1280px;
	height: 30px;
	background: #fff;
	padding: 0px 0 0 0px;
	border-top: solid 1px #ccc;
	border-right: solid 3px #ccc;
	border-bottom: solid 1px #ccc;
	border-left: solid 3px #ccc;
}

#main h3{
	font-size: 14px;
	font-weight: normal;
	width: 1216px;
	height: 20px;
	/*background: #dcdcdc;*/
	padding: 2px 0 0 20px;
	border-top: solid 1px #ccc;
	border-right: solid 1px #ccc;
	/*border-bottom: solid 1px #ccc;*/
	border-left: solid 1px #ccc;
}

#main h4{
	color: #2586ca;
	font-size: 14px;
	font-weight: normal;
	margin: 0 0 10px 0;
}

#main .section{
	margin: 0 0 20px 0;
	padding: 10px 5px;
}

#main .sectionBorder{
	margin: -8px 0 20px 0;
	padding: 20px 20px;
	border: solid #ccc 1px;
}

#main .sectionBorderSelect{
	margin: 0px 0 10px 0;
	padding: 5px 5px;
	border: solid #ccc 1px;
}

#main ul li{
	list-style-type: none;
	padding: 0 0 5px 8px;
	background: url(../img/list-arw.png) no-repeat;
	background-position:0% 30%;
}

#main div.assigntable {
	width:100%; 
	height:450px; 
	overflow:auto;
}



/* テーブル装飾
----------------------------------------------------------- */
#main .s-head {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 5px;
	background-color: #2E84E3;
	color: #ffffff;
	text-align: center;
}


#main .t-head {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 5px;
	background-color: #B0C4DE;
	color: #0000ff;
	font-weight: bold;
	text-align: center;
}

#main .t-head-left {
	border-collapse: collapse;
	border: solid 1px #ddd;
	border-right: solid 1px #B0C4DE;
	padding: 5px;
	background-color: #B0C4DE;
	color: #0000ff;
	font-weight: bold;
	text-align: left;
}


#main .photo {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 5px;
	background-color: #dcdcdc;
	color: #000000;
	text-align: center;
}



#main .t-item {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 10px;
}

#main .data {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 5px 10px 5px 5px;
}

#main .data_center {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 5px;
	text-align: center;
}

#main .data_right {
	border-collapse: collapse;
	border: solid 1px #ddd;
	padding: 5px;
	text-align: right;
}

#main .searchbox {
	padding: 5px 10px 5px 5px;
}


/* -----------------------------------------------------------
	#sub
		サイドバー、サブ
----------------------------------------------------------- */
#sub {
	float: left;
	width: 230px;
}

#sub h3{
	font-size: 14px;
	font-weight: normal;
	width: 208px;
	height: 30px;
	background: #fff;
	padding: 10px 0 0 20px;
	border-top: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 3px #07a7df;
	border-left: solid 1px #ccc;
}

#sub ul {
	margin: -5px 0 2px;
}

#sub ul li{
	list-style-type: none;
	padding: 5px 0 5px 8px;
	background: url(../img/list-arw.png) no-repeat;
	background-position:0% 49%;
	border-bottom: dashed #ccc 1px;
	margin: 5px 0 5px;
}

#sub .sectionBorder{
	font-size: 12px;
	margin: 0px 0 20px 0;
	padding: 10px 10px 10px 10px;
	border: solid #ccc 1px;
}

#sub .sectionBorderSelect{
	font-size: 12px;
	margin: 0px 0 5px 0;
	padding: 5px 10px 5px 5px;
	border: solid #ccc 1px;
}


/* -----------------------------------------------------------
	#tabmenu
		サイドバー、サブ
----------------------------------------------------------- */
#tabmenu{
    padding:0px;
    margin:0px;
    color:#333;
    font-size: 11px;
    width:1024px;
    position:relative;
}

#tabmenu div#tab{
    position: absolute;
    top:0px;
    left:0px;
}

#tabmenu div#tab a{
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 150px;
    display: block;
    text-decoration:none;
    color:#333;
    background:#eee;
}

#tabmenu div#tab a#on {
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 150px;
    display: block;
    text-decoration:none;
    color:#ffffff;
    background:#2E84E3;
}

#tabmenu div#tab a:hover{
    background:#000;
    color:#fff;
}
div#tab_contents{
    width:500px;
    overflow:
    hidden;clear:both;
}
div#tab_contents ul{
    width:2500px;
    padding:0px;
    margin:0px;
}
div#tab_contents ul li{
    float: left;
    width:460px;
    list-style-type:none;
    padding:60px  20px  20px 20px;
    background:#e2e2e2;
}

.altrow {
	
		background:#dcdcdc;
	
}



